.clues-view {
    display: flex;
    gap: 1rem;
    height: 100%;
}

.clues-set {
    padding-top: .5rem;
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.clues-set .clues-set-label {
    text-align: center;
}

.clues-set .clues-set-label2 {
    padding-top: .5rem;
}

.clues-set ul.clues-list {
    position: relative;
    list-style: none;
    height: 95%;
    overflow: auto;
    padding-left: 0;
}

.clues-set ul.clues-list li {
    margin-left: none;
    padding-left: none;
}
