.tab-layout {
    margin-right: 2rem;
}

@media all and (max-width: 1200px) {
    .tab-layout {
        width: var(--grid-width);
        max-height: 10vh;
    }
}

/* .tab-content { */
/*     padding: 1rem; */
/*     color: var(--color-foreground); */
/*     background-color: var(--color-quaternary); */
/*     overflow-y: auto; */
/*     max-height: 42rem; */
/*     border: 1px solid; */
/*     border-radius: 3px 3px 0 0; */
/*     border-color: var(--color-tertiary); */
/* } */
