.tab-layout {
    margin-right: 2rem;
    width: calc((100vw - var(--grid-width)) - 3rem);
    height: var(--grid-width);
}

@media all and (max-width: 1200px) {
    .tab-layout {
        width: calc(100vw - 6rem);
        height: calc((100vh - var(--grid-width)) - 10rem);
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
