.tab-panel {
    margin-right: 2rem;
    padding: 1rem;
    color: var(--color-foreground);
    background-color: var(--color-quaternary);
    border: 1px solid;
    border-radius: 3px;
    border-color: var(--color-tertiary);
    width: 100%;
    height: calc(var(--grid-width) - 3.25rem);
}

@media all and (max-width: 1200px) {
    .tab-panel {
        max-height: 100%;
        width: 100%;
    }
}
