li.menu-item {
    margin-left: .5rem;
    padding-left: .5rem;
    cursor: pointer;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 1.25rem;
}

li.menu-item svg {
    height: calc(var(--header-font-size) * .5);
    color: var(--color-foreground);
    width: auto;
}


li.menu-item:hover {
    background-color: var(--color-accent);
    border-radius: 4px;
}

li.menu-item:focus-visible {
    background-color: var(--color-accent);
    border-radius: 4px;
    outline: none;
}
