.grid-layout {
    display: block;
}

@media all and (max-width: 1200px) {
    .grid-layout {
        display: flex;
    }
}

.grid {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.grid-row {
    margin: 0;
    padding: 0;
}
