.tab-layout {
    width: 50%;
}

@media all and (max-width: 1200px) {
    .tab-layout {
        width: 100%;
    }
}

.tab-list {
    display: flex;
    list-style: none;
    margin-top: 0;
    padding-inline-start: 0;
    margin-bottom: 0;
    border-bottom: 1px solid var(--bgcolor-highlight);
}

li.tab {
    padding: .25rem 1rem .25rem 1rem;
    margin-bottom: -1px;
}

li.tab:hover {
    background-color: gray;
    border-radius: 3px;
}

a.tab-link {
    text-decoration: none;;
    color: var(--fgcolor);
}

li.tab.active {
    border: 1px solid;
    border-radius: 3px 3px 0 0;
    border-color: var(--bgcolor-highlight) var(--bgcolor-highlight) var(--bgcolor-alt);
    background-color: var(--bgcolor-alt);
}

.tab-content {
    padding: 1rem;
    background-color: var(--bgcolor-alt);
    overflow-y: auto;
    max-height: 42rem;
}
