.wordlist-view {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wordlist-viewport {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.wordlist-available {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
