.help-commands-list {
    list-style: none;
    padding: 0;
}

.help-commands-list li {
    margin-bottom: .5rem;
    display: flex;
}

.help-action {
    align-items: left;
    width: 10rem;
}

span.help-text {
    margin-left: auto;
}
