:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bgcolor: #242424;
  --bgcolor-alt: #2d040e;
  --fgcolor: rgba(255,255,255,0.87);
  --bgcolor-highlight: black;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    margin-left: 4rem;
    margin-right: 4rem;
}

.header {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.header-icons {
    float:right;
}

.header-icons button {
    font-size: 1.5rem;
    height: 2.25rem;
    width: 2.25rem;
    margin-right: .5rem;
}

.main {
    display: flex;
}

@media all and (max-width: 1200px) {
    .main {
        flex-direction: column;
    }
}

.grid {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.grid-row {
    margin: 0;
    padding: 0;
}

.grid-square-input {
    text-transform: uppercase;
    text-align: center;
    font-size: inherit;
    height: 2.2rem;
    width: 2.2rem;
    padding-top: 3px;
    margin-right: 0px;
    border: 1px solid black;
}

.grid-square-input:focus {
    outline: none;
    background-color: cadetblue;
}

label[data-answerno]::before {
    position: absolute;
    content: attr(data-answerno);
    font-size: 11px;
    color: black;
    margin-left: 2px;
    margin-top: -1px;
    font-weight: bold;
}

input[data-highlight=true] {
    background-color: lightblue;
}

.grid-square-input:read-only {
    background-color: black;
    border-color: black;
}

.grid-square-input:read-only:focus {
    border-color: white;
}

.grid-summary {
    margin-left: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    border: 1px solid white;
    flex-grow: 1;
    min-width: 0;
}

.grid-summary h3 {
    margin-top: 0rem;
}

.clue-layout {
    display: flex;
}

.clues-list-group {
    margin-top: 2rem;
    margin-left: .5rem;
    padding-left: 2rem;
    width: 50%;
    border: 1px solid white;
}

.clues-list {
    list-style: none;
    padding-left: 0;
}

.general-grid-info {
    list-style: none;
    padding-left: .4rem;;
}

.modal {
    position: relative;
    padding: 2rem;
    border: 0;
    border-radius: .5rem;
    box-shadow: 0 0 0.5rem .25rem hsl(0 0% 0% / 10%);
}

.modal::backdrop {
    background: hsl(0 0% 0% / 50%);
}

.modal h3 {
    margin-top: 0;
}

.currentWord-layout {
    margin-top: 1rem;
    font-size: 1.25rem;
}

.currentWord-layout span {
    margin-right: .5rem;
}

.currentWord-word {
    position: relative;
    top: -.25rem;
}

.word-square {
    text-transform: uppercase;
    padding-bottom: .25rem;
    text-align: center;
    color: white;
    background-color: unset;
    border-right: unset;
    border-bottom: 1px solid white;
    margin-right: .15rem;
    width: 1.5rem;
}

.setting-group {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.setting-label {
    margin-right: 2rem;
}

.setting-input {
    padding: .25rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-left: auto;
}

.setting-select {
    padding: .25rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-left: auto;
    width: 10rem;
    background-color: white;
}

.statistics-layout {
    display: flex;
    flex-direction: column;
}

.grid-square {
    display: contents;
}

.btn {
    margin-right: .25rem;
    height: 2rem;
    border-radius: 5px;
}
