:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* light mode variables */
  --bg-color-lite: lightblue;
  --bg-color-alt-lite: #eeeeee;
  --bg-color-highlight-light: lightgray;
  --bg-input-color-lite: azure;
  --bg-input-color-focus-lite: #eeeeee;
  --fg-color-lite: black;
  --fg-input-color-lite: black;

  /* Dark Mode variables */
  --bg-color-dark: #242424;
  --bg-color-alt-dark: #2d040e;
  --bg-color-highlight-dark: #7e6cac;
  --bg-input-color-focus-dark: #8b81a1;
  --bg-input-color-dark: #5f537d;
  --fg-color-dark: rgba(255,255,255,0.87);
  --fg-input-color-dark: black;

  --body-gutter: 100px;
  --darklite-transition-delay: .60s;
  --darklite-transition-properties: color, background;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    margin-left: var(--body-gutter);
    margin-right: var(--body-gutter);
    background-color: var(--bg-color);
    color: var(--fg-color);

    --bg-color: var(--bg-color-lite);
    --bg-color-alt: var(--bg-color-alt-lite);
    --bg-color-highlight: var(--bg-color-highlight-lite);
    --bg-input-color: var(--bg-input-color-lite);
    --bg-input-color-focus: var(--bg-input-color-focus-lite);
    --fg-color: var(--fg-color-lite);
    --fg-input-color: var(--fg-input-color-lite);

    transition: all var(--darklite-transition-delay) ease;
    transition-property: color, background;
}

body.dark {
    --bg-color: var(--bg-color-dark);
    --bg-color-alt: var(--bg-color-alt-dark);
    --bg-color-highlight: var(--bg-color-highlight-dark);
    --bg-input-color: var(--bg-input-color-dark);
    --bg-input-color-focus: var(--bg-input-color-focus-dark);
    --fg-color: var(--fgcolor-dark);
    --fg-input-color: var(--fg-input-color-dark);

    transition: all var(--darklite-transition-delay) ease;
    transition-property: color, background;
}

.header {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    position: relative;
}

.main {
    display: flex;
}

@media all and (max-width: 1200px) {
    .main {
        flex-direction: column;
    }

    .grid {
        align-self: center;
    }
}

.grid {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.grid-row {
    margin: 0;
    padding: 0;
}

.grid-summary {
    margin-left: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    border: 1px solid white;
    flex-grow: 1;
    min-width: 0;
}

.grid-summary h3 {
    margin-top: 0rem;
}

.clue-layout {
    display: flex;
}

.clues-list-group {
    margin-top: 2rem;
    margin-left: .5rem;
    padding-left: 2rem;
    width: 50%;
    border: 1px solid white;
}

.clues-list {
    list-style: none;
    padding-left: 0;
}

.general-grid-info {
    list-style: none;
    padding-left: .4rem;;
}

.modal {
    position: relative;
    padding: 2rem;
    border: 0;
    border-radius: .5rem;
    box-shadow: 0 0 0.5rem .25rem hsl(0 0% 0% / 10%);
}

.modal::backdrop {
    background: hsl(0 0% 0% / 50%);
}

.modal h3 {
    margin-top: 0;
}

.currentWord-layout {
    margin-top: 1rem;
    font-size: 1.25rem;
}

.currentWord-layout span {
    margin-right: .5rem;
}

.currentWord-word {
    position: relative;
    top: -.25rem;
}

.word-square {
    text-transform: uppercase;
    padding-bottom: .25rem;
    text-align: center;
    color: white;
    background-color: unset;
    border-right: unset;
    border-bottom: 1px solid white;
    margin-right: .15rem;
    width: 1.5rem;
}

.setting-group {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.setting-label {
    margin-right: 2rem;
}

.setting-input {
    padding: .25rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-left: auto;
}

.setting-select {
    padding: .25rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-left: auto;
    width: 10rem;
    background-color: white;
}

.statistics-layout {
    display: flex;
    flex-direction: column;
}

.grid-square {
    display: contents;
}

.btn-group {
    justify-content: right;
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-left: .5rem;
}

.main-menu {
    position: absolute;
    display: flex;
    top: 1rem;
    right: calc(var(--body-gutter) / 2 * -1);
    width: var(--body-gutter);
}

.main-menu button {
    font-size: 1.5rem;
    height: 2.25rem;
    width: 2.25rem;
}

.stats-header {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.stats-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}
