:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.grid {
    font-size: 1.5rem;
}

.grid-row {
    margin: 0;
    padding: 0;
}

.grid-square {
    text-transform: uppercase;
    text-align: center;
    font-size: inherit;
    height: 2.2rem;
    width: 2.2rem;
    padding-top: 3px;
    margin-right: 0px;
    border: 1px solid black;
}

.grid-square:focus {
    outline: none;
    background-color: cadetblue;
}

label[data-answerno]::before {
    position: absolute;
    content: attr(data-answerno);
    font-size: 11px;
    color: black;
    margin-left: 2px;
    margin-top: -1px;
    font-weight: bold;
}

input[data-current=true] {
    background-color: lightblue;
}

.grid-square:read-only {
    background-color: black;
    border-color: black;
}
